{
  "extends": [
    "airbnb",
    // "prettier",
    // "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": ["sort-imports-es6-autofix", "react", "prettier", "cypress"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "click-events-have-key-events": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelAttributes": ["label"],
      "controlComponents": ["FieldFactory"],
      "depth": 3
    }],
    "comma-dangle": "error",
    "dot-notation": "error",
    "no-console": "error",
    "object-curly-spacing": "error",
    "no-param-reassign": [
      2,
      {
        "props": true,
        "ignorePropertyModificationsFor": ["draft", "state", "sum"]
      }
    ],
    "no-plusplus": "off",
    "no-unused-expressions": [2, {
      "allowShortCircuit": true
    }],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "no-var": "error",
    "prefer-const": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quotes": ["error", "single"],
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-sort-props": ["error", {
      "ignoreCase": true
    }],
    "react/no-unknown-property": "error",
    "react/prop-types": "error",
    "react/sort-comp": "error",
    "react/require-default-props": "off",
    "semi": "error",
    "sort-imports-es6-autofix/sort-imports-es6": "off",
    "sort-vars": "error",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off"
  },
  "env": {
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
